@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-book.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
